<div class="home-container">
  <div class="home">
    <img src="imgs/home.jpeg" alt="Home" class="home-fundo" />
    <img src="imgs/home_png.png" alt="MinhaFoto" class="home-png" />

    <div class="home-txt">
      <h1 style="--text: 'Front-end Developer';"><span></span>Developer</h1>
    </div>

    <div class="flash"></div>
  </div>

  <div class="home2">
    @if (showAbout) {
        <p class="about-text">
        Sou desenvolvedor front-end com foco em interfaces modernas, animações e experiências visuais imersivas. Trabalho principalmente com Angular, Typrescript, JavaScript, HTML/CSS avançado e bibliotecas de animação como GSAP, sempre buscando unir performance, estética e usabilidade. Gosto de transformar ideias em interfaces vivas, com atenção aos detalhes e à experiência do usuário.
        </p>
        <div class="imgs">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" />  
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" /> 
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
        </div>
    }
  </div>
</div>