.home-container {
	position: relative;
}

.home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
	z-index: 99;
	mask-image: url(../../../../public/imgs/test6.svg);
	mask-repeat: no-repeat;
	mask-size: 10000vh;
	mask-position: calc(50% - 3%) 70%;
}

.home2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #282828;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
}

.home-png {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.home-txt {
  position: absolute;

  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  color: white;
  text-align: center;
}

.flash {
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  mix-blend-mode: screen;
}

/* Estilo do Texto (Front-end Developer) */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

h1 {
	--low: 20%;
	--high: 80%;
	--gap: 0.9rem;
	--offset: calc(var(--gap) / 2);
	
	--clip1: polygon(calc(var(--high) + var(--offset)) 0, 100% 0, 100% 100%, calc(var(--low) + var(--offset)) 100%);
	--clip2: polygon(calc(var(--high) - var(--offset)) 0, calc(var(--low) - var(--offset)) 100%, 0 100%, 0 0);
	
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3rem;
	line-height: 1;
	text-transform: uppercase;
	position: relative;
	max-width: 30rem;
	color: transparent;
	
	@media (min-width: 40rem) {
		font-size: 5rem;
	}
	
	span {
		color: white;
		font-weight: 700;
		letter-spacing: -0.03em;
	}
	
	&::before,
	&::after {
		content: var(--text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		color: white;
		z-index: -1;
	}
	
	&::after {
		font-weight: 700;
		letter-spacing: -0.03em;
		-webkit-clip-path: var(--clip1);
		clip-path: var(--clip1);
	}
	
	&::before {
		font-weight: 400;
		-webkit-clip-path: var(--clip2);
		clip-path: var(--clip2);
	}
}

/* texto descrição home2*/

p {
	max-width: 30ch;
	transform-style: preserve-3d;
	transform: skewY(-15deg);
	color: white;
}

/* impedir seleção de img e titulo*/

img, h1{
    -webkit-user-select: none; /* Safari, Chrome, Opera */
    -khtml-user-select: none;  /* Konqueror HTML */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Padrão moderno (não selecionável) */
    
    -webkit-user-drag: none;   /* Impede arraste no Chrome/Safari */

    pointer-events: none;      /* Opcional: remove qualquer interação com o mouse */
}