/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #282828;
  box-shadow: none;
}


::-webkit-scrollbar-thumb {
  background-color: #6F5657;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}
